<ng-container *ngIf="bb">
  <div class="image"><img src="{{bb.image}}" alt="{{bb.title}}"></div>
  <div class="others">
    <h2>{{bb.title}}</h2>
    <p>{{bb.content}}</p>
    <p class="price">{{bb.price|currency:'RUR'}}</p>
    <p>{{bb.contacts}}</p>
    <p class="date">{{bb.created_at|date:'medium'}}</p>
  </div>
</ng-container>
<h3>New comment</h3>
<form (ngSubmit)="submitComment()">
  <p>Name: <input [(ngModel)]="author" name="author" required></p>
  <p>Password: <input type="password" [(ngModel)]="password" name="password" required></p>
  <p>Contents: <br>
    <textarea [(ngModel)]="content" name="content" required></textarea>
  </p>
  <p><input type="submit" value="add"></p>
</form>
<div class="comment" *ngFor="let comment in comments">
  <h4>{{comment.author}}</h4>
  <p>{{comment.content}}</p>
  <p class="date">{{comment.created_at|date:'medium'}}</p>
</div>


