{% extends 'layout/basic.html' %}
{% block title %} Profile {% endblock %}
{% load thumbnail %}

{% block content %}
<h2>User profile {{user.username}}!</h2>
{% if user.first_name and user.second_name %}
<p>Hello {{ user.first_name }} {{ user.last_name }}!</p>
{% else %}
<p>Hello!</p>
{% endif %}
<p><a href="{% url 'main:profile_bb_add' %}">add new advertisement</a></p>
<h3>Your advertisements</h3>
{% if bbs %}
<ul class="list-unstyled">
    {% for bb in bbs %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' rubric_pk=rubric.pk pk=bb.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if bb.image %}
            <img src="{% thumbnail  bb.image 'default' %}" alt="{{ bb.title }}" class="mr-3">
            {% else %}
            <img src="static 'main/bg.jpg'" alt="{{ bb.title }}" class="mr-3">
            {% endif %}
        </a>
        <div class="media-body">
            <h3><a href="{{ url }} {{ all }}">{{ bb.title }}</a></h3>
            <div>{{bb.content}}</div>
            <p class="text-right font-weight-bold">{{bb.price}}pounds</p>
            <p class="text-right font-weight-bold">{{bb.created.at}}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}



